.Search {
    width: 80%;
    margin: auto;
    position: relative;
    top: 100px;
    background-color: #559997;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgb(65, 65, 65);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.label {
    font-size: 14pt;
    font-weight: bold;
}

.label-body {
    font-size: 14pt;
}

select {
    font-size: 14pt;
}

.input-body{
    margin-top: 10px;
    width: 40%;
}

.button-body {
    margin-top: 10px;
}

.Search:hover {
    box-shadow: 0 16px 32px 0 rgb(180, 180, 180);
}
